<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JPAlertView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F2E3809C1D177CB50084214C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2E380B51D177CB60084214C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2E380C01D177CB60084214C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
